<h1>Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :title, "Song Title" %>
  <%= f.text_field :title %>  

  
  <%= f.label :artist_name, "Artist Name" %>
  <%= f.text_field :artist_name %>

  
  <%= f.label "Select Genre" %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.submit %>
   <% end %>
#see controller for additional code (not currently working correctly)